.bigtable,
.view-light .bigtable {
	--bigtable-hover-background:linear-gradient(rgba(var(--wiki-content-dynamic-color--rgb, 0,0,0), 0.1), rgba(var(--wiki-content-dynamic-color--rgb, 0,0,0), 0.1));
}

.view-dark .bigtable {
	--bigtable-hover-background:linear-gradient(rgba(var(--wiki-content-dynamic-color--rgb, 255,255,255), 0.1), rgba(var(--wiki-content-dynamic-color--rgb, 255,255,255), 0.1));
}

.bigtable tr:hover,
.bigtable-cell-hovered {
	background-image:var(--bigtable-hover-background);
}
