@import 'mediawiki.skin.variables.less';
@import './variables.less';

.ext-bigtable-wrapper {
	display: flex;
	position: relative;
	margin-top: 1em;

	> .ext-bigtable-wrapper__inner {
		overflow-x: auto;
		// For collapsed tables, allow the caption to be sized with local CSS
		width:100%;
	}
}

.ext-bigtable-wrapper__inner > table.bigtable {
	display: table;
	white-space: unset;

	&.wikitable {
		margin-top: 0;
	}
}

@import './components/CellHover.less';
@import './components/ScrollOverlay.less';
@import './components/StickyHeader.less';
