@import 'mediawiki.skin.variables.less';
@import './variables.less';

.ext-bigtable-wrapper {
	position:relative;
	overflow-x:auto;

    > table.bigtable {
    	display: table;
    	white-space: unset;
    }

    .ext-bigtable-sticky-thead {
    	box-shadow: 0 9px 13px -5px #0004;
    	position: relative;
    	transform: translateY(calc(var(--table-header-offset) + var(--wikigg-header-height)));
    	z-index: 1;

		> th {
			outline: 1px solid @border-color-base;
		}
    }
    
    tr:hover,
    .ext-bigtable-cell-hovered {
        background-image:var(--bigtable-hover-background);
    }
}
